<mat-card appearance="outlined">
  <mat-card-header class="centered text-centered">
    <mat-card-title>Composant parent</mat-card-title>
    <mat-card-subtitle>Avec signal</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    {{ value() }}
    <button mat-button (click)="changeValue()" class="centered">change state</button>
  </mat-card-content>
</mat-card>
<br>
<div class="container">
  <child class="item" [name]="'one'" [value]="value"></child>
  <child class="item" [name]="'two'" [value]="value"></child>  
</div>
